---
title: Advanced Assembly-Descriptor Topics
author: 
  - John Casey
date: 2006-12-01
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Advanced Assembly-Descriptor Topics

## Quick Note on All `includes` and `excludes` Patterns

`excludes` take priority over `includes`.

## Archive file resolution

If two or more elements (for example, file, fileSet) select different sources for the same file for archiving, only one of the source files will be archived.

As of version 2.5.2 of the assembly plugin, the first phase to add the file to the archive "wins".
The filtering is done solely based on name inside the archive, so the same source file can be added under different output names.
The order of the phases is as follows: 

1. FileItem 
2. FileSets 
3. ModuleSet 
4. DependencySet.

Elements of the same type are processed in the order they appear in the descriptors.
If you need to overwrite a file included by a previous set, exclude that file from the earlier set.

This behavior was different in earlier versions of the assembly plugin.

## Advanced Artifact-Matching in `includes` and `excludes`

When using `dependencySet` or `moduleSet`, the `<includes/>` and `<excludes/>` sections apply to artifacts, not filenames.
You do not have to know the artifact's filename in the local repository. However, explicitly specifying the full artifact ID
(consisting of groupId, artifactId, version, type, and classifier) for each artifact to be included or excluded can lead to a verbose descriptor.
Starting with version 2.2, the assembly plugin addresses this issue through the use of wildcard patterns.

Apply these rules when specifying artifact-matching patterns:

1. Artifacts are matched by a set of identifier strings. In the following strings, `type` is `'jar'` by default, and `classifier` is omitted if null.
    - `groupId:artifactId:type:classifier` ( `artifact.getDependencyConflictId()` )
    - `groupId:artifactId` ( `ArtifactUtils.versionlessKey( artifact )` )
    - `groupId:artifactId:type:classifier:version` ( `artifact.getId()` )
1. Any `'*'` character in an include/exclude pattern will result in the pattern split. The sub-patterns are matched within the three artifact identifiers mentioned above, using `String.indexOf(..)`.
1. When no `'*'` is present in an include/exclude pattern, the pattern will only match if the **entire** pattern equals one of the three artifact identifiers above, using the `String.equals(..)` method.
1. Artifact-identification fields are separated by colons (`':'`) in the matching strings. So, a wildcard pattern that matches any artifact of type `'war'` might be specified as `*:war`.

#[[### Example: Include all dependencies of type `'war'`]]#

In this example, we configure a `dependencySet` so it only includes those `war` dependencies.

```xml
<assembly xmlns="http://maven.apache.org/ASSEMBLY/${mdoVersion}"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/${mdoVersion} http://maven.apache.org/xsd/assembly-${mdoVersion}.xsd">
  [...]
  <dependencySets>
    <dependencySet>
      <includes>
        <include>*:war</include>
      </includes>
    </dependencySet>
  </dependencySets>
  [...]
</assembly>
```

#[[#### GOTCHA!]]#

In the above example, any `war` artifacts that have a classifier will be **skipped**.
If you want to catch all of the `war` artifacts in the project, use the pattern:

```
*:war:*
```

#[[### Example: Exclude all source-jar dependencies.]]#

In this example, we deal with the fact that project sources are often distributed using jar files, in addition to normal binaries.
We want to filter out any source-jar files (they are marked with a `sources` classifier) from the binary jars.

```xml
<assembly xmlns="http://maven.apache.org/ASSEMBLY/${mdoVersion}"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/${mdoVersion} http://maven.apache.org/xsd/assembly-${mdoVersion}.xsd">
  [...]
  <dependencySets>
    <dependencySet>
      <includes>
        <include>*:jar:*</include>
      </includes>
      <excludes>
        <exclude>*:sources</exclude>
      </excludes>
    </dependencySet>
  </dependencySets>
  [...]
</assembly>
```

## Including Subversion Metadata Directories in a FileSet

In most cases, it is important to avoid adding metadata files from the source-control system, such as Subversion's `.svn` directories.
Such metadata can increase the size of the resulting assembly. By default, the assembly plugin excludes metadata files for most common source-control systems
from the `fileSet`s specified in the descriptor.

If you want to include Subversion metadata directories, use the `useDefaultExcludes` option on all `fileSet` elements.

#[[### Example: Bundle project sources for a developer-quickstart pack]]#

In this example, consider what happens if you have a large project in source control.
This project contains a large number of sizable files that have not changed since the day they were added.
You want to enable developers to get started quickly, without checking out hundreds of 10-megabyte files first.

The compression incorporated with many archiving formats can offer an advantage.
If we create a project assembly including Subversion metadata directories, developers can download the assembly artifact and expand it.
Then they can simply type `svn up`.

```xml
<assembly xmlns="http://maven.apache.org/ASSEMBLY/${mdoVersion}"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/${mdoVersion} http://maven.apache.org/xsd/assembly-${mdoVersion}.xsd">
  [...]
  <fileSets>
    <fileSet>
      <useDefaultExcludes>false</useDefaultExcludes>
      <excludes>
        <exclude>**/target/**</exclude>
      </excludes>
    </fileSet>
  </fileSets>
  [...]
</assembly>
```

_NOTE: We exclude all target directories. These are calculated and otherwise transient data.
They generally should not be included in archives.

## Using Regular Expressions to Exclude Files

Sometimes you need to specify an extremely fine-grained inclusion or exclusion pattern for a `fileSet`.
In these cases, you can specify the pattern using the `%regex[...]` syntax.

_Note:_ For completeness, the default pattern type (Ant-style patterns) can also be specified using the `%ant[...]` syntax.
This allows room for future expansion of `fileSet` patterns, including the option to change the default pattern syntax someday.

_Note:_ The same syntax is also supported for include patterns.

#[[### Example: Including directories named `target` in the `src` directory]]#

In this example, we want to produce a buildable source distribution of a Maven project hierarchy.
Each project's `target` directory is a temporary workspace for the build process, so we want to exclude these directories.
However, if one or more of the projects includes a subdirectory named `target` in the `src` directory structure (perhaps as part of a Java package name),
we want to make sure the files in this directory are included in the assembly.

```xml
<assembly>
  [...]
  <fileSets>
    <fileSet>
      <directory>${esc.d}{project.basedir}</directory>
      <outputDirectory></outputDirectory>
      <excludes>
        <exclude>%regex[(?!.*src/).*target.*]</exclude>
      </excludes>
    </fileSet>
    [...]
  </fileSets>
  [...]
</assembly>
```

The above `fileSet` uses a feature of regular expressions called *negative lookahead*.
This means the exclude pattern only matches paths that contain the word `target` but **do not** contain `src`.
Effectively, any `target` directory within the `src` directory structure will be preserved in the assembly.

## Using Strict-Filtering to Catch Obsolete Patterns or Incorrect Builds

You can build sanity checks when creating an assembly. This ensures that what goes into the assembly artifact is what you intended.
One way to do this is by enabling `useStrictFiltering` on your `dependencySets`.

`useStrictFiltering` is a flag that tells the assembly plugin to track each include/exclude pattern.
It checks that each pattern is used during creation of the assembly.
If the assembly-descriptor author intended for a particular artifact to be present, they can add an include/exclude pattern to the descriptor.
Then they can set the `useStrictFiltering` flag. If the pattern is not used to match at least one artifact during assembly creation, the build fails.
The user will receive a message notifying him of the unused patterns.

#[[### Example:]]#

```xml
<assembly xmlns="http://maven.apache.org/ASSEMBLY/${mdoVersion}"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/${mdoVersion} https://maven.apache.org/xsd/assembly-${mdoVersion}.xsd">
  [...]
  <dependencySets>
    <dependencySet>
      <includes>
        <include>commons-logging:commons-logging</include>
      </includes>
      <useStrictFiltering>true</useStrictFiltering>
    </dependencySet>
  </dependencySets>
  [...]
</assembly>
```

If the **commons-logging** artifact is not present on the project dependencies list, the assembly plugin refuses to build this assembly.

## Using an Alternative Assembly Base Directory

In many cases, assemblies must have all files arranged under one assembly base directory. This way, a user who expands the assembly has
all of the contents collected in a neat directory structure. This is achieved using the `includeBaseDirectory` flag
This flag is set to `true` by default, which results in the project's `artifactId-version` used as the assembly base directory.

In some special cases, you want to use a different directory name for the root of your assembly.
This need is addressed using the `baseDirectory` element of the assembly descriptor
With this element, you can use POM expressions and static strings to specify the name of the assembly root directory.

#[[### Example: Eclipse-style invariable directory name for the Maven assembly]]#

In this example, consider what would happen if we want Maven to use the Eclipse approach for naming the root directory in its distribution assemblies.
This way, instead of expanding the distribution to find a new `maven-2.0.4` directory, you would find a `maven` directory.
Also, consider that the distribution assembly is currently built from the `maven-core` project, which means we must not use the `artifactId`
as part of the assembly root directory.

```xml
<assembly xmlns="http://maven.apache.org/ASSEMBLY/${mdoVersion}"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/${mdoVersion} https://maven.apache.org/xsd/assembly-${mdoVersion}.xsd">
  [...]
  <baseDirectory>maven</baseDirectory>
  [...]
</assembly>
```

Now, imagine that the distribution assembly is created in the top-level `maven` project.
We can use the `artifactId` to minimize the maintenance of these files.

```xml
<assembly xmlns="http://maven.apache.org/ASSEMBLY/${mdoVersion}"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/${mdoVersion} http://maven.apache.org/xsd/assembly-${mdoVersion}.xsd">
  [...]
  <baseDirectory>${artifactId}</baseDirectory>
  [...]
</assembly>
```

## Advanced ModuleSet Topics

The `moduleSets` section is one of the most complex sections of the assembly descriptor. Many improvements have been made to this section.
We have dedicated a separate page to it.

- Go to [Advanced Module-Set Topics](./advanced-module-set-topics.html).
