---
title: Usage
author: 
  - John Casey
date: 2011-02-07
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Usage

To handle filtering, this version of Maven Assembly Plugin uses [Maven Filtering](/shared/maven-filtering/index.html) ${mavenFilteringVersion}.

To handle archiving, this version of Maven Assembly Plugin uses [Maven Archiver](/shared/maven-archiver/index.html) ${mavenArchiverVersion}.

This document provides instructions for using the maven-assembly-plugin. You must understand two topics. These are configuration of the plugin and the different execution styles. Configuration includes settings inside the POM and, where possible, from the command line. We cover configuration before execution.

## Configuration

Getting started with the Assembly Plugin is simple. If you want to use one of the prefabricated assembly descriptors, configure which descriptor to use with the &lt;`descriptorRefs>`/&lt;`descriptorRef>` parameter. If you want to use a custom assembly descriptor, configure the path to your descriptor using the &lt;`descriptors>`/&lt;`descriptor>` parameter.

A single invocation of the Assembly Plugin can produce assemblies from multiple descriptors. This gives you maximum flexibility to customize the suite of binaries your project produces. When the assembly is created, it uses the assemblyId as the artifact's classifier. It attaches the created assembly to the project. The assembly is uploaded into the repository in the install and deploy phase.

For example, suppose our project produces a JAR. If we want to create an assembly binary that includes our project's dependencies, we can use one of the Assembly Plugin's prefabricated descriptors. Configure it as shown in your project's `pom.xml`:

```xml
<project>
  [...]
  <build>
    [...]
    <plugins>
      <plugin>
        <!-- NOTE: We don't need a groupId specification because the group is
             org.apache.maven.plugins ...which is assumed by default.
         -->
        <artifactId>maven-assembly-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <descriptorRefs>
            <descriptorRef>jar-with-dependencies</descriptorRef>
          </descriptorRefs>
        </configuration>
        [...]
</project>
```

The Assembly Plugin allows you to specify multiple `descriptorRefs` at once. This produces multiple types of assemblies in a single invocation.

Alternatively, you can create a custom assembly descriptor called `src.xml` in the `src/assembly` directory (see the [Resources](#Resources) section for more information). Tell the Assembly Plugin to use that descriptor instead:

```xml
<project>
  [...]
  <build>
    [...]
    <plugins>
      <plugin>
        <artifactId>maven-assembly-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <descriptors>
            <descriptor>src/assembly/src.xml</descriptor>
          </descriptors>
        </configuration>
        [...]
</project>
```

You can specify multiple custom assembly descriptors here. You can also specify a mixture of `descriptors` and `descriptorRefs` in the same configuration.

**Note:** Many other configuration options are available for the various goals in the Assembly Plugin. For more information, see the [examples section](./examples/index.html) or the [plugin parameter documentation](./plugin-info.html).

## Execution: Building an Assembly

Once you have configured the various `descriptors` and `descriptorRefs` for the assemblies you want the project to produce, you can build them.

In most cases, you want your assemblies to be created as part of your normal build process. This ensures the assembly archives are available for installation and deployment. It also ensures they are created during the release of your project. The `assembly:single` goal handles this.

To bind the `single` goal to a project's build lifecycle, add this configuration (assuming you are using the `jar-with-dependencies` prefabricated descriptor):

```xml
<project>
  [...]
  <build>
    [...]
    <plugins>
      <plugin>
        <artifactId>maven-assembly-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <descriptorRefs>
            <descriptorRef>jar-with-dependencies</descriptorRef>
          </descriptorRefs>
        </configuration>
        <executions>
          <execution>
            <id>make-assembly</id> <!-- this is used for inheritance merges -->
            <phase>package</phase> <!-- bind to the packaging phase -->
            <goals>
              <goal>single</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      [...]
</project>
```

Then, to create a project assembly, execute the normal `package` phase from the default lifecycle:

```shell
mvn package
```

When this build completes, you see a file in the `target` directory with a name similar to:

```unknown
target/sample-1.0-SNAPSHOT-jar-with-dependencies.jar
```

Notice the artifact classifier, between the end of the version and the beginning of the file extension, `jar-with-dependencies`. This is the `id` of the assembly descriptor that created this artifact.

#[[### GOTCHA!]]#

In most cases, the `single` goal must be bound to the `package` phase of the build. However, if your assembly does not require binaries, or if you need to use one assembly as input for another, you may need to change this. You can assign the `single` goal to any phase of the build lifecycle. Make sure the resources included in your assembly exist before the assembly is created.

## Advanced Configuration

#[[### Creating an Executable JAR]]#

The Assembly Plugin creates a self-contained binary artifact for a project. You make this an executable jar 
by specifying the `Main-Class` in a `configuration`/`archive`/`manifest`/`mainClass` element.


```xml
<project>
  [...]
  <build>
    [...]
    <plugins>
      <plugin>
        <artifactId>maven-assembly-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          [...]
          <archive>
            <manifest>
              <mainClass>org.sample.App</mainClass>
            </manifest>
          </archive>
        </configuration>
        [...]
      </plugin>
      [...]
</project>
```

With this configuration, the `single` goal adds an entry like this in the `META-INF/MANIFEST.MF` file of the JAR it assembles:

```unknown
[...]
Main-Class: org.sample.App
```

For more information on advanced configuration for the Assembly Plugin, see the [Resources](#Resources) section.

#[[### GOTCHA!]]#

Only the `jar` and `war` assembly formats support the `<archive>` configuration element.

<a id="Resources"></a>

## Resources

1. For more information on writing your own assembly descriptor, read the [Assembly Descriptor](./assembly.html)
1. For more information about `maven-archiver`, look [here](https://maven.apache.org/shared/maven-archiver/index.html).
1. For more information on advanced `maven-assembly-plugin` configuration, see the [examples](./examples/index.html).
